In [1]:
# Answer number 1:

In [2]:
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
# Answer number 2:

In [5]:
import pandas as pd
data = [2,9,8,4,5,6,12,23,45,7]
series = pd.Series(data)
print(series)

0     2
1     9
2     8
3     4
4     5
5     6
6    12
7    23
8    45
9     7
dtype: int64

In [13]:
# Answer number 3:-

In [10]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
       
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [14]:
# Answer number 4:-

In [11]:
# Data Frame:- Data frame is like having multiple rows and columns or contains multiple series whereas series has only one column.
# Example of series:

import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [12]:
# Example of DataFrame:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
       
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [15]:
# Answer number 5:-

In [ ]:
some common functions we can use to manipulate data in a Pandas DataFrame are:-
1.head() and tail()
2.apply()
3.describe()
4.info()
5.drop()
6.sort_values()
7.fillna()
8.groupby()
9.merge()
10.pivot_table()

# Example of groupby:-
when you want to calculate the average salary for each department:-
           df.groupby('department')['salary'].mean()

In [16]:
# Answer number 6:-

In [ ]:
Both Series and DataFrame are mutable in nature means these can be modified and changedonce they are created
and Panel was also mutable as it is no longer used in modern versions of Pandas.

In [17]:
# Answer number 7:-

In [18]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
       
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female